<%= form_for(@place, :html=>{:multipart=>true}) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<table>
<tr valign="top">
<td width="30%">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
</td>
<td width="30%">
    <%= f.label :business_type %><br />
    <%= f.text_field :business_type %>
</td>
<td width="30%">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
</td>
</tr>
</table><br/>

<table>
<tr>
<td>
    Overview<br />
    <%= f.text_area :description, :cols => "50", :rows => "7" %>
</td>
<td valign="top">
    &nbsp;&nbsp;&nbsp;<%= f.label :location %><br />
    &nbsp;&nbsp;&nbsp;<%= f.text_field :location %>
</td>
</tr>
</table><br/>

<table>
<tr>
<td>
    <%= f.label :open_hours %><br />
    <%= f.text_area :open_hours, :cols => "50", :rows => "5" %>
</td>
<td valign="top">
    &nbsp;&nbsp;&nbsp;Price Category<br />
    &nbsp;&nbsp;&nbsp;<%= f.text_field :price_cat %>
</td>
</tr>
</table><br/>

<table>
<tr>
<td width="30%">
    Website<br />
    <%= f.text_field :web_url %>
</td>
<td width="30%">
    Email<br />
    <%= f.text_field :email_url %>
</td>
<td width="30%">
    Phone<br />
    <%= f.text_field :phone_num %>
</td>
</tr>
</table><br/>

<table>
<tr>
<td width="30%">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
</td>
<td width="30%">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
</td>
<td width="30%">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
</td>
<td>
    <%= f.label :gmaps %><br />
    <%= f.check_box :gmaps %>
</td>
</tr>
</table><br/>

<%= gmaps4rails(@json) %>
<br/>
<table>
<tr>
<td >
    <%= f.label :image %><br />
    <%= f.file_field :image %>
</td>
</tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

